body {
  background-color: #eee;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: inherit;
}

#header-img {
  width: 275px;
  padding-left: 20px;
}

 #nav-bar {
  flex: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  #nav-bar {
  flex: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px 0 20px;
}

form {
  text-align: center;
}

#email {
  padding: 5px 10px;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

#submit {
  display: block;
  margin: 15px auto;
  width: 120px;
  padding: 5px 0;
  background-color: #f1c40f;
  border: none;
  border-radius: 4px;
}

#Features {
  width: 750px;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  #Features {
    width: 600px;
    margin: auto;
  }
}

#Features div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

#Features h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}

video {
  margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
  video {
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
  }
}

#Pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  #Pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#Pricing div {
  border: 1px solid black;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.title {
  background-color: #ddd;
}

@media only screen and (max-width: 800px) {
  #Pricing div {
    width: 250px;
    height: 300px;
  }

  .title {
    background-color: #ddd;
    object-fit: contain;
  }
}

button {
  background-color: green;
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px
}