body {
  background: #222;
}

.container {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.music-icon img {
  width: 200px;
}

.repeated, .shuffled {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px 5px;
}

.songs {
  border: 1px dashed white;
  width: 70%;
  text-align: left;
  padding: 0 10px 0;
  margin-bottom: 5px;
}

.highlight{
  background-color: black;
  color: white;
}

button {
  background-color: rgb(31, 31, 172);
  color: white;
  border: none;
  padding: 8px 12px 8px;
  border-radius: 3px;
  margin-top: 10px;
}